*{
  margin: 0;
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
}
body{
  min-height: 900px;
  background-image: linear-gradient(to bottom right, #101010, #4a4a4a);
  background-repeat: no-repeat;
  color: #f2a900;
}
.header{
  display: table;
  width: 100%;
  height: 60px;
  background-color: black;
}
.header h1{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white;
}
.grid_container{
  display: grid;
  grid-template-rows: 50% auto;
  grid-template-columns: 40% auto;
}
.MoneyMadeTool{
  transition: 0.5s;
  width: auto;
  min-height: 250px;
  border: 3px solid #f2a900;
  border-radius: 30px;
  margin: 8px;
  padding: 8px;
  text-align: center;
}
.MoneyMadeTool:hover{
  box-shadow: 0px 0px 20px 1px #f2a900;
}
.money{
  width: 100%;
  margin: 8px auto;
  text-align: center;
}
.money h1{
  display: inline-block;
  font-size: 200%
}
#moneyRate{
  font-size: 100%;
  color: #2e2e2e;
}
#afterTax{
  font-size: 100%;
  color: #2e2e2e;
}
.inputs{
  width: fit-content;
  margin: 0 auto;
}
.inputs input{
  background-color: #101010;
  color: #f2a900;
  background: #2e2e2e;
  border-radius: 30px;
}
.slider{
  transition: 0.5s;
  display: inline-block;
  -webkit-appearance: none;
  background: #2e2e2e;
}
.slider::-webkit-slider-thumb{
  transition: 0.5s;
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #f2a900;
  cursor: pointer;
}
.slider:hover{
  transition: 0.5s;
  background: #242323;
  box-shadow: 1px 1px 15px 1px #f2a900;
}
.slider::-webkit-slider-thumb:hover{
  transition: 0.5s;
  cursor: pointer;
}
.TimeLeftTool{
  transition: 0.5s;
  width: auto;
  min-height: 150px;
  border: 3px solid #f2a900;
  border-radius: 30px;
  margin: 8px;
  padding: 8px;
  text-align: center;
}
.TimeLeftTool:hover{
  box-shadow: 0px 0px 20px 1px #f2a900;
}
#timeLeft{
  display: inline-block;
  font-size: 200%;
}
