*{
  margin: 0;
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
}
body{
  height: 100vh;
  background-image: linear-gradient(
    to bottom right, #101010, #2e2e2e
  );
  background-repeat: no-repeat;
  color: #f2a900;
}
.MoneyMadeTool{
  width: 25%;
  border: 3px solid #f2a900;
  border-radius: 30px;
  margin: 8px;
}
.money{
  width: 100%;
  margin: 8px auto;
  text-align: center;
}
.money h1{
  display: inline-block;
  font-size: 250%;
}
#moneyRate{
  font-size: 100%;
  color: #2e2e2e;
}
#afterTax{
  font-size: 100%;
  color: #2e2e2e;
}
.inputs{
  width: fit-content;
  margin: 0 auto;
}
.inputs input{
  background-color: #101010;
  color: #f2a900;
  background: #2e2e2e;
  border-radius: 30px;
}
.slider{
  transition: 0.5s;
  display: inline-block;
  -webkit-appearance: none;
  background: #2e2e2e;
  min-width: 200px;
}
.slider::-webkit-slider-thumb{
  transition: 0.5s;
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background: #f2a900;
  cursor: pointer;
}
.slider:hover{
  transition: 0.5s;
  background: #242323;
  box-shadow: 1px 1px 15px 1px #f2a900;
}
.slider::-webkit-slider-thumb:hover{
  transition: 0.5s;
  cursor: pointer;
}
.TimeLeftTool{
  width: 25%;
  border: 3px solid #f2a900;
  border-radius: 30px;
  margin: 8px;
}
