*{
  margin: 0;
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
}
body{
  min-height: 900px;
  background-image: linear-gradient(to bottom right, #101010, #4a4a4a);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #eb4949;
  padding-top: 60px;
}
i{
  transition: 0.5s;
  cursor: pointer;
}
i:hover{
  transition: 0.5s;
  transform: rotate(30deg);
}
header{
  display: table;
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: black;
  top: 0;
  z-index: 1;
}
header h1{
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  color: white;
  padding-left: 8px;
}
.grid_container{
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  grid-template-rows: repeat(4, minmax(300px, 25vh));
  grid-gap: 8px;
  padding: 8px;
}
.MoneyMadeTool{
  transition: 0.5s;
  width: auto;
  border: 2px solid #eb4949;
  border-radius: 20px;
  padding: 8px;
  text-align: center;
}
.MoneyMadeTool:hover{
  box-shadow: 0px 0px 20px 1px #eb4949;
}
.panelName{
  display: table;
  width: 100%;
}
.panelName h1{
  float: left;
  display: table-cell;
  vertical-align: middle;
  font-size: 125%;
  padding: 0 3px;
  color: white;
}
.panelName i{
  float: right;
  display: table-cell;
  vertical-align: bottom;
  font-size: 125%;
  padding: 0 3px;
}
.money{
  width: 100%;
  margin: 8px auto;
  text-align: center;
}
.money h1{
  display: inline-block;
  font-size: 200%
}
#startTime{
  font-size: 100%;
  color: #2e2e2e;
}
#moneyRate{
  font-size: 100%;
  color: #2e2e2e;
}
#afterTax{
  font-size: 100%;
  color: #2e2e2e;
}
.options{
  width: 100%;
  margin: 0 auto;
}
.inputs input{
  background-color: #101010;
  color: #eb4949;
  background: #2e2e2e;
  border-radius: 30px;
}
.slider{
  transition: 0.5s;
  display: block;
  -webkit-appearance: none;
  background: #2e2e2e;
  width: 40%;
  min-width: 100px;
  margin: 8px auto;
}
.slider::-webkit-slider-thumb{
  transition: 0.5s;
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #eb4949;
  cursor: pointer;
}
.slider:hover{
  transition: 0.5s;
  background: #242323;
  box-shadow: 1px 1px 15px 1px #eb4949;
}
.TimeLeftTool{
  transition: 0.5s;
  width: auto;
  border: 2px solid #eb4949;
  border-radius: 20px;
  padding: 8px;
  text-align: center;
}
.TimeLeftTool:hover{
  box-shadow: 0px 0px 20px 1px #eb4949;
}
#timeLeft{
  display: inline-block;
  font-size: 200%;
}
#time{
  font-size: 100%;
  color: #2e2e2e;
}
#endTime{
  display: inline-block;
  font-size: 100%;
  color: #2e2e2e;
}
.ToDoListTool{
  transition: 0.5s;
  position: relative;
  text-align: center;
  width: auto;
  padding: 8px;
  border: 2px solid #eb4949;
  border-radius: 20px;
  grid-column-start: 4;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 3;
}
.ToDoListTool:hover{
  box-shadow: 0px 0px 20px 1px #eb4949;
}
.ToDoListTool .list{
  max-height: 85%;
  overflow-wrap: break-word;
  overflow-y: auto;
}
.ToDoListTool .list .item{
  background-color: #eb4949;
  color: white;
  border-radius: 20px;
  margin: 8px auto;
  padding: 8px;
  cursor: no-drop;
}
.ToDoListTool .list .item h1{
  font-size: 100%;
  overflow-wrap: break-word;
}
.ToDoListTool .add{
  position: absolute;
  width: calc(100% - 16px);
  display: grid;
  grid-template-columns: 75% auto;
  grid-gap: 8px;
  left: 8px;
  bottom: 8px;
  margin-top: 8px;
}
.ToDoListTool input{
  color: white;
  outline: none;
  border: 2px solid #eb4949;
  border-radius: 20px;
  padding-left: 8px;
  font-size: 125%;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0);
}
.ToDoListTool button{
  text-align: center;
  color: white;
  outline: none;
  border: 2px solid #eb4949;
  border-radius: 20px;
  font-size: 125%;
  background-color: #eb4949;
  cursor: pointer;
}
footer{
  position: relative;
  display: table;
  width: 100%;
  height: 60px;
  background-color: black;
}
footer h1{
  font-size: 150%;
  display: table-cell;
  vertical-align: middle;
  float: right;
  color: white;
  padding: 8px;
}
footer .socials{
  position: absolute;
  bottom: 0;
  font-size: 150%;
  color: white;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background-color: black;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #eb4949;
  border-radius: 10px;
}
.PortfolioTool{
  transition: 0.5s;
  width: auto;
  border: 2px solid #eb4949;
  border-radius: 20px;
  padding: 8px;
  text-align: center;
}
.PortfolioTool:hover{
  box-shadow: 0px 0px 20px 1px #eb4949;
}
.PortfolioTool .chart{
  height: 85%;
}
